body{
    background-color: darkslateblue;
    color: white;
}

#help{
    font-size: 20px;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    padding: 0;
    cursor: pointer;
    color: white;
    background: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 8;
}

#helppg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: rgba(0, 0, 0, 0.938);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    z-index: 9;
}

#helppg h2{
    margin: 0;
}

ul{
    padding-left: 20px;
    text-align: left;
}
li{
    margin: 4px 0;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    width: 40%;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    border-radius: 10px;
    border: 0;
    padding: 5px 10px;
    margin: 10px;
    width: 170px;
}

button{
    border-radius: 10px;
    border: 0;
    padding: 10px;
    margin: 10px;
    width: 120px;
}

.error{
    color: red;
    font-size: 12px;
    margin: 0 0 0 120px;
}

.right{
    width: 40%;
    margin: 20px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    height: 85vh;
}

@media (max-width: 640px) {
    .hero {
        height: fit-content;
        flex-direction: column;
    }
    .left{
        height: fit-content;
        margin: 60px 0 20px 0;
    }
    .right{
        width: 80%;
        height: fit-content;
        padding: 20px 0;
    }
    #helppg{
        width: 300px;
    }
}